<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qihe.imagecompression">


    <!--sd卡读写   6.0以上系统可能还需要动态申请sd卡读写权限-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.CAMERA" />


    <!-- 如果有视频相关的广告且使用textureView播放，请务必添加，否则黑屏 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <uses-permission android:name="android.permission.READ_LOGS" />


    <!--&lt;!&ndash; 为了提高广告收益，建议设置的权限 &ndash;&gt;-->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->

    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE"/>-->

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="28"
        tools:overrideLibrary="com.xinqidian.adcommon,com.alipay.sdk" />

    <application
        android:name="com.qihe.imagecompression.app.AdApplcation"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.qihe.imagecompression.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name="com.xinqidian.adcommon.ui.splash.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.MyAppTheme">

            <!-- 配置开屏广告结束后跳转的目标Activity类名，需要写完整类名 -->
            <meta-data
                android:name="targetActivity"
                android:value="com.qihe.imagecompression.MainActivity" />


            <!-- 配置开屏广告结束后跳转的其他目标Activity类名，需要写完整类名 -->
            <!--<meta-data-->
            <!--android:name="ortherTargetActivity"-->
            <!--android:value="com.xinqidian.addemo.BannerActivity" />-->
            <!-- 配置开屏广告为加载成功之前展示的默认图，一般使用启动图片 -->
            <meta-data
                android:name="defautImage"
                android:resource="@drawable/splash" />


            <!-- 配置加载隐私政策和用户协议的Activity类名，需要写完整类名 -->
            <meta-data
                android:name="webViewActivity"
                android:value="com.smkj.formatconverter.ui.activity.ResourceVideoActivity" />

            <!-- 配置隐私政策协议url -->
            <meta-data
                android:name="yinSiZhengCe"
                android:value="http://www.qihe.website/yinsimoban_tupian_vivo.html" />

            <!-- 配置用户协议url -->
            <meta-data
                android:name="xieYi"

                android:value="http://www.qihe.website/yonghu_xieyi_qihe.html" />


            <!-- 配置开屏广告Activity为主Activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <!-- 配置APP ID -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="9dc502637c" />
        <!-- 配置APP版本号 -->
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="1.0.0" />
        <!-- 配置APP渠道号 -->
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="huawei" />
        <!-- 配置Bugly调试模式（true或者false）-->
        <meta-data
            android:name="BUGLY_ENABLE_DEBUG"
            android:value="false" />


        <activity
            android:name="com.qihe.imagecompression.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.activity.image.LoginActivity1"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.image.RegisterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.image.AboutusActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.image.MyWorksActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.image.SelectImageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.image.FormatConversionActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.image.CompleteActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.image.CompressionActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.image.SelectVideoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.image.VideoPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.image.PlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qihe.imagecompression.ui.activity.AuditionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.qihe.imagecompression.ui.activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.qihe.imagecompression.ui.activity.ExtractAudioActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.qihe.imagecompression.ui.activity.VipActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.qihe.imagecompression.ui.activity.NewVideoPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
            <!-- 设置文件打开方式 和 支持的文件格式 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:mimeType="video/*"
                    android:scheme="file" />
                <data
                    android:host="*"
                    android:mimeType="audio/*"
                    android:scheme="file" />
            </intent-filter>
        </activity>

        <!--<provider-->
        <!--android:name="android.support.v4.content.FileProvider"-->
        <!--android:authorities="com.shimu.formatconverter"-->
        <!--android:grantUriPermissions="true"-->
        <!--android:exported="false">-->
        <!--<meta-data-->
        <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
        <!--android:resource="@xml/filepaths" />-->
        <!--</provider>-->

        <!-- 如果您项目中的所有页面都只需要以高或宽中的一个作为基准进行适配的话, 那就只需要填写高或宽中的一个设计图尺寸即可 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />


        <!-- 小米激励视频广告配置文件-->
        <activity
            android:name="com.miui.zeus.mimo.sdk.activityProxy.ProxyActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Holo.NoActionBar" />

        <activity
            android:name="com.miui.zeus.mimo.sdk.activityProxy.FullScreenProxyActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" />


        <!-- 腾讯激励视频广告配置文件-->

        <activity
            android:name="com.qq.e.ads.PortraitADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qq.e.ads.LandscapeADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" />


        <provider
            android:name="com.bytedance.sdk.openadsdk.TTFileProvider"
            android:authorities="${applicationId}.TTFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider"
            android:authorities="${applicationId}.TTMultiProvider"
            android:exported="false" />


        <meta-data
            android:name="TA_APPKEY"
            android:value="Aqc1110658492" />
        <meta-data
            android:name="InstallChannel"
            android:value="vivo" />

        <provider
            android:name="com.tencent.mid.api.MidProvider"
            android:authorities="com.qihe.imagecompression.TENCENT.MID.V3"
            android:exported="true"></provider>

    </application>

</manifest>