<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.xinqidian.adcommon">

    <application >
        <activity android:name=".ui.activity.FeedBackActivity"
            android:launchMode="singleTop"/>

        <activity android:name=".ui.activity.WebViewActivity"
            android:launchMode="singleTop"/>

    </application>

</manifest>
